.team-section{
    padding: toRem(80) toRem(15);
    background-color:#F5E5D0;
    color: $textColor;

    @media (max-width: 992px) {
        padding: toRem(40) toRem(15);
    }
    
    @media (max-width: 700px) {
        padding: toRem(30) toRem(15);
    }
    
    .subtitle {
        margin-bottom: toRem(62);
        text-align: center;

        @media (max-width: 992px) {
            margin-bottom: toRem(30);
        }
    }

    .team-block {
        display: flex;
        justify-content: space-between;
        gap: toRem(54);
        margin-bottom: toRem(80);

        @media (max-width: 1090px) {
            flex-direction: column;
            gap: toRem(30);
        }

        @media (max-width: 650px) {
            margin-bottom: toRem(30);
        }

        .text-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: toRem(28);
            flex-grow: 0;

            @media (max-width: 630px) {
                gap: toRem(8)
            }
        }
    }
    .team-image {
        max-width: 100%;
    }
}

.team-contact {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: toRem(30) toRem(217);
    border: toRem(2) solid $textColor;
    border-radius: 32px;

    
    @media (max-width: 750px){
        padding: toRem(30) toRem(100);
    }
    @media (max-width: 750px){
        padding: toRem(20) toRem(40);
    }

    .info-title {
        margin-bottom: toRem(34);
        text-align: center;

        @media (max-width: 556px){
            margin-bottom: toRem(20);
        }
    }
    
    .info-text {
        margin-bottom: toRem(30);

        @media (max-width: 556px){
            margin-bottom: toRem(20);
        }
    }
}

input,
textarea {
    border: toRem(2) solid $textColor;
    border-radius: 6px;
    padding: toRem(12);
    background-color: #FFFFFF;
    color:$textColor;
    overflow-y: auto;
    resize: vertical;
}

textarea {
    max-height: toRem(200);
}

input::placeholder,
textarea::placeholder {
    color: #D9C3A5;
    font-size: toRem(16);
}

input:focus,
textarea:focus {
    border-color: #feaf56; 
    outline: none; 
}

label {
    display: block;
    margin-bottom: toRem(4);
    font-size: toRem(18);
}

.team-form {
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        width: 100%;
        max-width: toRem(581);

        button.join-button {
            align-self:center;
            color: #F5E5D0;

            :hover {
                color: #F5E5D0;
            }
        }
}


